header {
  background-color: white;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  height: 60px;
  width: 142px;
  margin-left: 20px;
  background-image: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 768px) {
  header {
    height: 50px;
  }

  .logo {
    height: 40px;
    width: 100px;
    margin-left: 10px;
  }
}
