body {
  margin: 0;
  padding: 0;
  color: #484848;
  font-size: 14px;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 1000px;
  margin: 30px auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
}
