.places {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.places h1 {
  font-size: 30px;
  margin: 0 0 20px;
  text-align: left;
}

.places-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.places-list article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  text-align: center;
}

.places-list article h2 {
  margin: 0;
  font-size: 30px;
}

.places-list article:last-child {
  align-self: center;
}
